{
  "presets": [
    "@nrwl/react/babel",
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@leanjs/ui-twitter-embed": "../../packages/ui-twitter-embed/src/index.ts"
        }
      }
    ]
  ]
}
