# Project dependencies
.cache
node_modules
yarn-error.log
/components/firebase/firebase.js
firebase-debug.log
.firebaserc
.firebase
package.lock
package-lock.json
yarn-error.log

# functions 
functions/config

# Sanity Studio
studio/dist

# Build directory
/public
.DS_Store

# Reports
coverage
cypress

# Env
.env
.env.production