html {
  font-size: 18px;
  line-height: 1.45em;
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/barlow-v3-latin_latin-ext-400.eot'); /* IE9 Compat Modes */
  src: local('Barlow Medium'), local('Barlow-Medium'),
    url('../fonts/barlow-v3-latin_latin-ext-400.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/barlow-v3-latin_latin-ext-400.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/barlow-v3-latin_latin-ext-400.ttf')
      format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/barlow-v3-latin_latin-ext-800.eot'); /* IE9 Compat Modes */
  src: local('Barlow ExtraBold'), local('Barlow-ExtraBold'),
    url('../fonts/barlow-v3-latin_latin-ext-800.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/barlow-v3-latin_latin-ext-800.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/barlow-v3-latin_latin-ext-800.ttf')
      format('truetype'); /* Safari, Android, iOS */
}
