{
  "presets": ["@nrwl/gatsby/babel"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "typescript",
          "json",
          "bash",
          "jsx",
          "graphql"
        ],
        "plugins": ["show-language"],
        "css": true
      }
    ]
  ]
}
