.bg-trainline {
  width: 134px;
  height: 80px;
  background: url('css_sprites.png') -330px -110px;
}
.bg-ft {
  width: 300px;
  height: 85px;
  background: url('css_sprites.png') -10px -10px;
}

.bg-equionconsulting {
  width: 167px;
  height: 80px;
  background: url('css_sprites.png') -330px -10px;
}
.bg-blockchain {
  width: 220px;
  height: 80px;
  background: url('css_sprites.png') -10px -115px;
}

.bg-asos {
  width: 200px;
  height: 58px;
  background: url('css_sprites.png') -10px -315px;
}

.bg-abinbev {
  width: 183px;
  height: 80px;
  background: url('css_sprites.png') -10px -215px;
}
